/*************************************************************
 * litw-styles.css
 * 
 * Base stylesheet for LabintheWild.
 * 
 * Author: Yuechen Zhao, Trevor Croxson
 * 
 * Last Modified: January 7, 2017
 *
 * © Copyright 2017 LabintheWild
 * For questions about this file and permission to use
 * the code, contact us at info@labinthewild.org
 *************************************************************/

/********************************************
 * CSS RESET
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 *******************************************/
/*html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/********************************************
 * PAGE STRUCTURE
 *******************************************/

/* styles for the entire page */
body {
	margin: 0;
	padding: 0;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #222;
}
#wrapper, #content { 
	width: 800px; 
	margin: 0 auto; 
}
#header { 
	margin-top: 30px; 
}
#share-text { 
	float:right; 
	margin-top:15px; 
	font-size: 13px; 
	color:#888; 
}
.irb-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.irb-paragraph-header {
	display: inline;
}

.irb-paragraph-body {
	display: inline;
	padding-left: 7px;
}

#irb h2 {
	margin-bottom: 30px;
}
.slide { 
	display: none; 
}
#likert-scale {
	display: block;
	margin: 0 auto;
	width: 710px;
	border: 0px;
}
#likert-scale input { 
	margin-left: 15px; 
	margin-right: 15px; 
}
#comments { 
	text-align: center; 
}
textarea.comments-box, textarea.comments_box {
	padding: 15px;
	font-size: 14px;
	font-family: Optima, Arial, sans-serif;
	width: 560px;
	height: 70px;
	color: #999;
	display: block;
	margin: 0 auto;
}
#tests-table img {
	width: 150px;
	height: 100px;
}
#task-form {
	width: 600px;
	margin: 0 auto;
}
.task-prompt {
	text-align: center;
	font-size: 1.4em;
	color: #3f6379;
	font-weight: bold;
	margin-bottom: 20px;
}
.litw-results-footer-content {
	background-color: #EEEEEE;
	padding: 25px;
}
.litw-results-footer .litw-separator {
	margin: 0;
	padding: 0;
	height: 0;
}
.litw-results-footer-header {
	font-size: 1.5em;
	margin-bottom: 30px;
}
.litw-study-link {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 15px;
	min-height: 105px;
}
.litw-study-link-img {
}
.litw-study-link-description {
}
.litw-study-link-text-container {
}
.litw-results-number {
	line-height: 1.3em;
	display: inline-block;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 2px dotted #999999;
	margin-right: 15px;
}
.litw-footer-element {
	margin-top: 25px;
	margin-bottom: 25px;
}
.litw-results-sharing-body {
	margin-left: 50px;
}
.litw-results-study-links {
	margin-left: 50px;
}
.litw-results-footer-content .fb-like {
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 50px;
}
.litw-results-sharing-header select {
	max-width: 150px;
}
.litw-email-container {
	background-color: #EEEEEE;
	margin-bottom: 20px;
	margin-top: 20px;
}
.litw-results-complete-msg {
	text-align: right;
	color: #2db300;
	font-style: italic;
	float: right;
	padding-top: 8px;
	display: none;
}
.litw-email-container .litw-separator {
	margin: 0;
	padding: 0;
	height: 0;
}
.litw-email-content {
	padding: 25px;
}


/********************************************
 * BUTTONS
 *******************************************/

.btn-next-page, #btn-next-page {
	clear: both;
	float: right;
	margin-bottom: 30px;
	background: url("../img/btn-next.png");
	width: 100px;
	height: 60px;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.btn-next-page:active, #btn-next-page:active { 
	background: url("../img/btn-next-active.png");
}


/********************************************
 * IMAGES
 *******************************************/

#logo { 
	float: left; 
	margin-top: 30px; 
	margin-bottom: 15px; 
}
.img-logo {
	height: 75px;
}
.stim-img {
	border: 7px solid transparent;
	border-radius: 3px;
	width: 45%;
	vertical-align: middle;
}
.stim-img:hover {
	border: 7px solid #ccffcc;
}


/********************************************
 * FORMS
 *******************************************/

label {
	font-weight: normal;
}
input[type=checkbox], label {
	cursor: pointer;
}
select {
	max-width: 200px;
}
.task-input:checked + label img {
	border: 7px solid #33cc33;
}
.spaced-right {
	padding-right: 15px;
}
.spaced-left {
	padding-left: 15px;
}
.form-element {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1pt solid transparent;
	border-radius: 7px;
	padding: 3px;
}
.inline-form-element {
	display: inline;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1pt solid transparent;
	border-radius: 7px;
	padding: 3px;	
}
.expansion-element {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.expansion-prompt, .default-expansion-prompt {
	margin-left: 10px;
	color: blue;
}
.expansion-prompt:hover, .default-expansion-prompt:hover {
	color: lightblue;
	cursor: pointer;
}
.expansion-element {
	margin-left: 20px;
	margin-top: 5px;
}
.expansion-header {
	margin-top: 35px;
	margin-left: 20px;
	font-style: italic;
}
.expansion-container {
	margin-top: -18px;
}
#why-form, #autofill-why-prompt {
	font-weight: bold;
	cursor: pointer;
}
#why-form:hover, #autofill-why-prompt:hover {
	color: blue;
}
.form-invalid {
	border: 1pt solid #FFB2B2;
}
.out-of-bounds-msg {
	margin-left: 20px;
	font-style: italic;
	color: #FFB2B2;
	max-width: 500px;
}
#required-message-all {
	margin-top: 15px;
}
.prompt-text {
	vertical-align: top;
}
.default-demo-form .hidden {
	display: none;
}
.default-demo-form input[type="radio"] {
	cursor: pointer;
	margin-right: 10px;
}
.default-demo-form input[type="radio"] + label {
	cursor: pointer;
	margin-right: 20px;
}
.default-demo-form textarea {
	display: block;
	margin: 0 auto;
}
#header-share {
	float: right;
	padding-top: 20px;
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding-left: 5px;
  font-family: Optima;
  font-size: 12pt;
}
.custom-combobox + .expansion-prompt {
	margin-left: 45px;
}
.sharebutt > img {
  width: 32px;
  height: 32px;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding-left: 5px;
    font-family: Optima;
    font-size: 12pt;
}
.ui-autocomplete {
	font-family: Optima;
	font-size: 10pt;
	line-height: 12px;
}
.ui-autocomplete .ui-menu-item {
	font-size: 1.3em;
	padding-top: 2px;
	padding-bottom: 2px;
}
.expansion-element {
	margin-left: 20px;
	margin-top: 5px;
}
.expansion-header {
	margin-left: 20px;
	font-style: italic;
}
.expansion-container {
	margin-top: -18px;
}
.invalid-message {
	margin-top: 5px;
	margin-left: 40px;
	color: #AAAAAA;
}
#next-button {
	display: none;
	margin-bottom: 30px;
}
#btn-next-page {
	display: none;
}
#next-button-container {
	float: right;
	cursor: pointer;
}
.slide {
	display: none;
}
.hoverable:hover {
	cursor: pointer;
}
.link-blue {
	color: #0000FF;
}
.multiselect-label {
	margin-left: 5px;
	margin-right: 15px;
}
#autofill-consent-container label {
	padding-left: 5px;
}
.isAutofill {
    background-color: #ffffe0;
}


/********************************************
 * LINKS
 *******************************************/

a:link, a:visited, a:hover { 
	text-decoration: none; 
	color: #0099cc; 
}
a:active { 
	color: #003b4e; 
}


/********************************************
 * MISC
 *******************************************/

.litw-separator, .separator {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 10px;
	clear: both;
	display: block;
	width: 100%;
	border-top: 2px dotted #366;
}
#ajax_working, #ajax-working {
	position: fixed;
	top: 50%;
	right: 50%;
	margin-top: -50px;
  margin-left: -50px;
}
.warn { 
	color: #f00; 
	font-weight: bold; 
}
.bolded-blue { 
	font-weight: bold; 
	color: #3f6379; 
}
.hidden {
	display: none;
}
#approve-irb {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
#headerShare, #header-share {
	float: right;
	padding-top: 20px;
}
#num-loaded {
	text-align: center;
}

